body {
    background-color: #232830;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 30px;
}
.item {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.3px;
    padding: 10px;
}
.item:hover {
    color: rgb(78, 149, 243);
}
.header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.divForPicture {
    width: 300px;
    height: 300px;
    float: right;
    display: flex;
    justify-content: center;
    padding-right: 50px;
}
.myPicture {
    width: 220px;
    height: 220px;
    border: 2px solid #63738d;
    border-radius: 150px;
}
.introduction {
    margin-bottom: 60px;
}
.iam {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 150%;
    padding-left: 50px;
    padding-right: 50px;
}
h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    flex-wrap: wrap;
}
.skill-container {
    border-radius: 50px;
    height: 170px;
    width: 170px;
    margin: 7px;
    border: 2px solid #63738d;
}
.whatSkill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 70px;
    padding: 30px;
    background-color: antiquewhite;
    margin: 17px;
    border: 2px solid rgb(78, 149, 243);
    border-radius: 30px;
}
.skill-icon {
    width: 60px;
    height: 60px;
}
.skill-icon-bigIcon {
    width: 55px;
    height: 55px;
}
p {
    font-family: 'Montserrat', sans-serif;
}


@media all and (max-width: 810px) {
.skill-container {
    border-radius: 30px;
    height: 110px;
    width: 110px;
    margin: 7px;
    border: 2px solid #63738d;
}
.whatSkill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 46px;
    padding: 25px;
    background-color: antiquewhite;
    margin: 5px;
    border: 2px solid rgb(78, 149, 243);
    border-radius: 30px;
}
.skill-title {
    font-size: 12px;
}
.skill-icon {
    width: 40px;
    height: 40px;
}
.skill-icon-bigIcon {
    width: 38px;
    height: 38px;
}
}
@media all and (max-width: 500px) {
    .nav {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.item {
    font-size: 15px;
    letter-spacing: 1.3px;
}
}